embedding_model:
  provider: "google"
  model_name: "models/text-embedding-004"

retriever:
  top_k: 10
  search_type: "mmr"
  fetch_k: 35
  lambda_mult: 0.45
  score_threshold: null  # only used if search_type: "similarity_score_threshold"

llm:
  # ========== RAG LLM ==========  
  rag:
    provider: "groq"
    model_name: "qwen/qwen3-32b"
    temperature: 0.2
    max_tokens: 1024
    reasoning_format: "parsed"
    reasoning_effort: "default"

  # ========== DEEP REASONING LLM ==========
  reasoning:
    provider: "groq"
    model_name: "openai/gpt-oss-20b"
    temperature: 0.1
    max_tokens: 2048
    include_reasoning: true
    reasoning_effort: "medium"

  # ========== TOOLING LLM ==========
  tools:
    provider: "groq"
    model_name: "groq/compound-mini"
    temperature: 0
    max_tokens: 2048
    include_reasoning: true
    reasoning_format: "parsed"
    enabled_tools:
      - web_search
      - visit_website
      - browser_automation
      - code_interpreter
      - wolfram_alpha
