embedding_model:
  provider: "google"
  model_name: "models/text-embedding-004"

retriever:
  top_k: 7
  search_type: "mmr"
  fetch_k: 25
  lambda_mult: 0.45
  score_threshold: 0.55  # only used if search_type: "similarity_score_threshold"

groq:
  # two keys: one for compound/tools, one for rag/reasoning/multimodal
  api_keys:
    default_env: "GROQ_API_KEY_DEFAULT"
    compound_env: "GROQ_API_KEY_COMPOUND"


llm:
  # RAG LLM  
  rag:
    provider: "groq"
    model_name: "qwen/qwen3-32b"
    temperature: 0.1
    max_tokens: 1024
    top_p: 0.9                  
    frequency_penalty: 0.1 
    presence_penalty: 0.1

  # DEEP REASONING LLM
  reasoning:
    provider: "groq"
    model_name: "openai/gpt-oss-20b"
    temperature: 0.1
    max_tokens: 1024
    reasoning_format: "parsed"

  # TOOLING LLM
  tools:
    provider: "groq"
    model_name: "groq/compound"
    temperature: 0
    max_tokens: 1024
    enabled_tools:
      - web_search
      - visit_website
      - browser_automation
      - code_interpreter
      - wolfram_alpha
